.player-card {
    padding: 1vh;
    border-bottom: solid 2px aliceblue;
    border-top: solid 2px aliceblue;
    height: 50vh;
}

.player-details {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: row;
    padding: 1vh;
    border-bottom: dashed 3px aliceblue;
    margin-bottom: 2%;
}